.og-grid {
	list-style: none;
	padding: 44px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%

}

.og-grid li {
	display: inline-block;
	margin: 16px 8px 0 8px;
	vertical-align: top;
	height: 360px;
	
}



.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid img {
  opacity: 1;

}

.og-grid img:hover {
  opacity: 1;

}

.og-grid a:hover .text {
	opacity: 1;
}

.text {
  font-family: 'Futura';
  color: #FCC256;
  font-size: 40px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333333;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
 }

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #333333;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}



.og-expander {
	position: absolute;
	background: #333333;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #FCC256;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: white;
}

.og-fullimg,
.og-fullvideo,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg, .og-fullvideo {
	text-align: center;
}

.og-fullvideo iframe, .og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}


.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
	color: #FCC256;
}

.og-details p {
	font-weight: 400;
	font-size: 25px;
	line-height: 22px;
	color: #FCC256;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #FCC256;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #FCC256;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #FFF;
	color: #FFF;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen
	and (min-device-width: 768px) 
	and (max-width: 1024px) {

	.og-fullimg, .og-fullvideo { display: none; }
	.og-details { float: none; width: 100%; }
	.og-grid li {
	display: inline-block;
	margin: 0px 0px 0 0px;
	vertical-align: top;
	height: 360px; }
	.og-grid {
	list-style: none;
	padding: 60px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%}

	}

